body{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  //input[type=text]:focus {
    //width: 80%;
  }
  
  input[type=text]{
     //width: 130px;
    //box-sizing: border-box;
    //border: 2px solid #ccc;
    //border-radius: 4px;
    //font-size: 16px;
    //background-color: white;
    //background-position: 10px 10px; 
    //background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  
  }
  //
  //.btn-search{
    //width: 5%;
    //padding: 12px 20px 12px 40px;
   // border-radius: 50%;
   // cursor: pointer;
    //}
  
  .hidden{
    display: none;
  }